# Copyright (c) 2009-2010, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on post-fs
    mkdir /data/radio 0770 radio radio
# atheros wlan system ++
    mkdir /data/misc/wifi 0770 wifi system
    mkdir /data/misc/wifi/wapi_certificate 0770 wifi system
    chown wifi wifi /system/etc/wifi/wpa_supplicant.conf
    chmod 0660 /system/etc/wifi/wpa_supplicant.conf
    mkdir /data/misc/dhcp 0777 system system
    mkdir /data/misc/wifi/sockets 0777 system system
    mkdir /data/system 0777 system system
    mkdir /data/system/wpa_supplicant 0770 wifi wifi
# atheros ---
on boot
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock
    chown system system /sys/class/leds/mail/blink
    chown system system /sys/class/leds/call/blink
    chown system system /sys/class/leds/battery/blink
    chown system system /sys/module/lowmemorykiller/parameters/add_pid
    chown system system /sys/module/lowmemorykiller/parameters/del_pid
    chown radio system /sys/class/power_supply/battery/module_enable
    chown radio system /sys/class/power_supply/battery/module_disable
    chown system system /sys/devices/i2c-0/0-004d/version
    chown system system /sys/devices/i2c-0/0-004d/sensitivity
    chown system system /sys/devices/i2c-0/0-004d/update
    chown system system /sys/power/fast_dormancy
    chown system system /sys/power/ip_filter
    chown system system /sys/module/g_android/parameters/product_id

    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/android_usb/remote_wakeup
    chown system system /sys/devices/platform/android_usb/composition
    chown root radio /dev/oncrpc/30000000:002d0000
    chown root radio /dev/oncrpc/3000000e:00090000

# Permission for usb com port, USB Gadget framework
    chmod 0666 /dev/ttyGS1
   
# Define TCP buffer sizes for various networks
   setprop net.tcp.buffersize.hspa    4096,87380,110208,4096,16384,110208
   class_start default  
    # Create the directories used by the Wireless subsystem

    chown system system /sys/module/g_android/parameters/product_id
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling
    chown system system /sys/devices/platform/android_usb/composition
    chown system system /sys/devices/platform/android_usb/remote_wakeup

    # Modify tpa2051, acer-hs, and acer-hs-butt permissions
    chown system audio /dev/tpa2051
    chown system audio /dev/acer-hs
    chown system audio /dev/acer-hs-butt
    chmod 0666 /dev/tpa2051
    chmod 0666 /dev/acer-hs
    chmod 0666 /dev/acer-hs-butt

    # Remove write permissions to video related nodes
    chmod 0664 /sys/devices/virtual/graphics/fb1/hpd
    chmod 0664 /sys/devices/virtual/graphics/fb1/video_mode
    chmod 0664 /sys/devices/virtual/graphics/fb1/format_3d

    # Change owner and group for media server and surface flinger
    chown media system /sys/devices/virtual/graphics/fb1/format_3d

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd_wlan0

on property:init.svc.bluetoothd=running
    write /sys/devices/virtual/bluetooth/hci0/idle_timeout 7000

service hci_qcomm_init /system/bin/log -t qcom-bluetooth -p i "hci_qcomm_init service requested"
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p10 /dev/block/mmcblk0p11
    user root
    disabled

on property:ro.emmc=1
    start rmt_storage

on property:ril.gcf="1"
    setprop net.tcp.buffersize.gprs    4094,87380,110208,4096,16384,110208

service hciattach /system/bin/sh /system/etc/init.paso.bt.sh
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin
    disabled
    oneshot

service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyGS0

service qmuxd /system/bin/qmuxd
service netmgrd /system/bin/netmgrd

on property:ro.use_data_netmgrd=false
    # netmgr not supported on specific target
    stop netmgrd

# Atheros +++
service wpa_supplicant /system/bin/wlan_tool wpa_supplicant
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/wlan_tool dhcpcd
    disabled
    oneshot

service wlan_tool_lddrv /system/bin/wlan_tool load
    oneshot

service abtfilt /system/bin/wlan_tool abtfilt
    disabled
    oneshot

service hostapd /system/bin/wlan_tool hostapd
    disabled
    oneshot

#service hostapd /system/bin/hostapd /data/misc/wifi/hostapd.conf
#    socket hostapd_wlan0 dgram 660 root wifi
#    user root
#    group wifi
#    oneshot
#    disabled
# Atheros ---

#service fm_dl /system/bin/sh /system/etc/init.paso.fm.sh
#    user system
#    group system qcom_oncrpc
#    disabled
#    oneshot

service paso-sh /system/bin/sh /init.paso.sh
    user root
    oneshot

service paso-post-boot /system/bin/sh /init.paso.post_boot.sh
    user root
    disabled
    oneshot

on property:init.svc.bootanim=stopped
    start paso-post-boot

# Enable tcpdump-service

service netdump-service /system/xbin/tcpdump -i any -C 5 -p -s 0 -w /sdcard/netdump.cap
    user root
    disabled

on property:net.netdump.enable=1
    start netdump-service

on property:net.netdump.enable=0
    stop netdump-service

service akmd8975 /system/bin/akmd8975
    user system
    group system

# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    disabled
    oneshot
    keycodes 114 115 116
